{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Estudiantes - App Coder
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-3">
                Los estudiantes son: 

                <ul class="list-group">
                        {% for estudiante in estudiantes %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                {{estudiante.nombre}} {{estudiante.apellido}}
                                
                            </li>
                        {% endfor %}
                    
                </ul>
                <p></p>
                <a href="{% url 'agregar_estudiante' %}"><button type="button" class="btn btn-primary">Agregar Estudiante</button></a>
        
            </div>
        </div>
    </div>
</section>

{% endblock %}